.verification-form-wrapper {
  width: 360px;
}

.verification-form-item {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 28px;
}

.verification-form-input {
  width: 50px;
  height: 50px;

  border-radius: 3px;

  padding: 10px 18px;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #000000;
  border: 1px solid #33363a;
  background: transparent;
  outline: none;
  transition: border-color 0.3s;
}

.verification-form-input:focus {
  border-color: #707d86;
}

.verification-button {
  width: 100%;
  padding: 15px 20px;
  margin-top: 20px;

  border-radius: 3px;

  background: #00C5FF;
  border: none;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;

  transition: background 0.3s;
  cursor: pointer;
}
.verification-button:hover {
  background: #00C5FF;
}

.verification-code-resend {
  margin-top: 10px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.code-expires-time {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #00C5FF;
}

.verification-form-error {
  margin-bottom: 30px;
}
